[Dd]ebug/
[Rr]elease/

[Bb]in/
[Oo]bj/
*.suo
*.sln.cache 
*.user
*.tmp
*.orig
*[Rr]e[Ss]harper.user
_ReSharper.*/
*StyleCop.Cache
.DS_Store
Thumbs.db
__MACOSX/
.sass-cache/
/bin
/Bin
.bin/
.Bin/
App_Browsers/
*/App_Data/cache/
*/App_Data/preview/
*/App_Data/TEMP/
*/App_Data/umbraco.config
[Cc]ached/
ClientDependency/
ExamineIndexes/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

#NuGet
packages
!packages/repositories.config

MerchelloDemo.Web.UI/media/*
MerchelloDemo.Web.UI/App_Data/umbraco.config
MerchelloDemo.Web.UI/App_Data/preview/
MerchelloDemo.Web.UI/App_Data/TEMP/
MerchelloDemo.Web.UI/App_Data/ClientDependency/
MerchelloDemo.Web.UI/App_Data/Logs/
MerchelloDemo.Web.UI/aspnet_client/
MerchelloDemo.Web.UI/App_Data/*.udt

private


