@using MerchelloDemo.Web.Controllers;

@model MerchelloDemo.Web.Models.BasketPageViewModel
@{
    Layout = "Shared/_Layout.cshtml";
}

@Html.Action("Breadcrumb", "Navigation")
<hr />

<h1>@Model.MainHeading</h1>

@Html.Partial("Partials/_Basket")

@if (Model.BasketDetail.HasItems)
{ 
    <p><a href="@Model.CheckoutPageUrl">Checkout</a></p>
}