@model MerchelloDemo.Web.Models.BasePageViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
      @Html.Partial("_Metadata")
  </head>

  <body>
    <header>
      @Html.Action("Menu", "Navigation", new { Levels = 2 })
    </header>
	
    @RenderBody()

    <script data-main="/Public/scripts/config" src="/Public/scripts/libs/require.js"></script>

  </body>
</html>