@model MerchelloDemo.Web.Models.BasePageViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
      @Html.Partial("_Metadata")
      <link type="text/css" rel="stylesheet" href="/public/style/site.css" />
  </head>

  <body>
    <header>
      @Html.Action("Menu", "Navigation", new { Levels = 2 })
    </header>
    <hr />	

    @RenderBody()

    <script data-main="/Public/scripts/config" src="/Public/scripts/libs/require.js"></script>

  </body>
</html>